.main-skill-card {
    display: flex;
    border-radius: 18px;
    margin:12px;
}

.main-skill-card .main-skill-card-content{
    width: 270px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    padding: 12px;
    border: solid 2px var(--primary-color);

}


.skill-card-img {
    width: 70%;
    height: 130px;
    margin-top: 20px;
}

.skill-card-img img {
    width: 100%;
}

.skill-card-text {

}

.skill-card-text h2{
    text-align: center;
    margin: 10px 0;
}

.text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;}

.read-more {
    border: none;
    margin: 8px 90px;
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    
    .main-skill-card {
        padding: 0 !important;
    }

}